.contents
  - @posts.each do |post|
    .content
      .content__title
        タイトル：
        = post.title
      .content__image
        = image_tag post.image
      .content__text
        写真のストーリー：
        = post.text