.header {
  background-color:#EEEEEE;
  height: 60px;
  border-bottom: solid 1px #BBBBBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  &__left {
    font-size: 20px;
    font-weight: bold;
    font-family: Neucha,cursive;
    padding-left: 100px;
    color: #444444 !important;
  }
  &__right {
    font-size: 15px;
    padding-right: 90px;
    font-family: Neucha,cursive;
    display: flex;
    color: #444444 !important;
    &__name {
      padding: 20px;
    }
    &__btn {
      font-size: 20px;
      padding-top: 15px;
      &__color {
        color: #444444 !important;
      }
    }
    &__mybtn {
      font-size: 20px;
      padding: 15px 0 0 15px;
      &__color {
        color: #444444 !important;
      }
    }
  }
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.main-content {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 40%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: #FFFFE0;
  &__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 15px;
    margin-bottom: 40px;
  }
  &__btn {
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #FAF0E6;
    border-radius: 5px;
    background-color: #FAF0E6;
    padding: 5px;
    text-align: center;
    color: #000;
    width: 150px;
    opacity: 0.6;
    &__path {
      height: 40px;
      width: 150px;
      line-height: 40px;
      color: #222222 !important;

    }
  }
  &__btn:hover {
    box-shadow: 0 0 10px #EEEEEE;
  }
}
a {
  text-decoration-line: none;
}


.card-section {
  font-style: italic;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, #A3A29E 0%, #B1B0AC 27%, #BCBBB7 49%, #E5E4E0 76%, #F3F2F0 100%);
  background-image: linear-gradient(to bottom, #A3A29E 0%, #B1B0AC 27%, #BCBBB7 49%, #E5E4E0 76%, #F3F2F0 100%);
  padding-bottom: 50px;
}
.card-section-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding:30px 0;
  color:#333333;
  // background: linear-gradient(transparent 5%, #C2EEFF 70%);
  margin-bottom: 10px;
}
.card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 25px;
  &__item1 {
    width: 400px;
    height: 320px;
    background-image: url(https://shizennoie.karuizawa-town.com/images/siraitonotaki.jpg?crc=156970983);
    background-size:cover;
    background-position: center;
    border: 1px solid #152a5c;
    &__title {
      text-align: center;
      padding: 5px;
      color: white !important;
    }
  }
  &__item2 {
    width: 400px;
    height: 320px;
    background-image: url(https://ma-net.jp/imgs/images.ma-net.jp/card-loan/articles/1667/gahag-0100855534-1.jpg.pagespeed.ce.s2gOXEkPlZ.jpg);
    background-size:cover;
    background-position: center;
    border: 1px solid #152a5c;
    &__title {
      text-align: center;
      padding: 5px;
      color: white !important;
    }
  }
  &__item3 {
    width: 400px;
    height: 320px;
    background-image: url(https://sp.jorudan.co.jp/hanabi/images/spot/640/J0178_1.jpg);
    background-size:cover;
    background-position: center;
    border: 1px solid #152a5c;
    &__title {
      text-align: center;
      padding: 5px;
      color: white !important;
    }
  }
}
.ranks {
  padding: 20px 0;
  overflow: hidden;
  &__rank {
    text-align: center;
    color: white;
    &__image{
      margin: 0 auto;
      display: inline-block;
    }
    &__like {
      color: red;
    }
  }
}

.footer {
  width: 100%;
  background-color:#EEEEEE;
  height: 40px;
  border-top: solid 1px #BBBBBB;
  position: fixed;
  bottom: 0;
  &__message {
    line-height: 40px;
    text-align: center;
  }
}


